h1 {
    text-align: center;
    margin: 2rem 0 4rem 0;
}

.accordion {
    max-width: 600px;
    margin: 2rem auto;
    
}


.container-dossier,
.container-components {
    margin: 2rem ;
    max-width: 600px;
    min-width: 400px;
}

.accordion-dossier,
.accordion-components {
    margin: 2em 2em 5em 2em;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    color: #96FF7D;
    background-color: #303f47;
    border: 1px solid #96FF7D;
    border-radius: 10px;
    margin-bottom: .3em;
}

.accordion-title:hover {
    background-color: #096C81;
}

.accordion-title,
.accordion-content {
    padding: 1rem;
}

.accordion-content {
    background-color: #28353c;
}

/* @media screen and (max-width: 700px) {
    body {
        font-size: 18px;
    }

    .accordion {
        width: 90%;
    }
} */