

.accordion {
    max-width: 600px;
    margin: 2rem auto;
}


.container-dossier,
.container-components {
    margin: 2rem ;
    max-width: 600px;
    min-width: 400px;
}

.accordion-dossier,
.accordion-components {
    margin: 2em 2em 5em 2em;
}

.accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    color: #96FF7D;
    background-color: #303f47;
    border: 1px solid #96FF7D;
    border-radius: 10px;
    margin-bottom: .3em;
    font-size: larger;
}

.accordion-title:hover,
.accordion-title-active  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    color: #96FF7D;
    background-color: #096C81;
    border: 1px solid #96FF7D;
    border-radius: 10px;
    margin-bottom: .3em;
    font-size: larger;
    padding: 1em 1em 1em 2em;
}
.accordion-title {
    /* other styles */
    transition: background-color 0.2s ease-in-out;
  }

  .accordion-content {
    background-color: #28353c;
    height: 200px;
    overflow: hidden;
    overflow-y: scroll;
    transition: height 0.2s ease-in-out;
}
  
/* .accordion-title:hover,
.accordion-title-active {
    background-color: #096C81;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: .3em;
    font-size: larger;
    padding: .5em;
    
} */

.icon-container {
    justify-content: flex-end;
}

.accordion-title,
.accordion-content {
    padding: 1rem;
}

.accordion-content {
    background-color: #28353c;
}

