/* CONTAINER SIZING AND STYLING */

.question-box {
  border: 1px black double;
}

.container-win,
.container-main,
.container-starr,
.container-targetco {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border: 1px solid;
  border-radius: 3px;
  padding: 3px;
}


.container-action-links {
  display: flex;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 5px;
  padding: 2px;
}

.button-action {
  margin-right: 10px;
  
}

.list {
  list-style: none;
  font-size: smaller;
}

/* FORM PARENT STYLES */

.form-login, .form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-starr, .form-win {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* INPUT RELATED STYLING */

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 85%;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: ;
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* STYLING FOR QUILL */
/* REMEMBER STYLE EDIT VS READ, esp. on snow theme */

.custom-quill {
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  color:black;
}