.new-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.header-links-left,
.header-links-right {
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.header-links-left .link-button-nav {
    margin-left: 16px;
}

.logo-link {
    display: flex;
    align-items: center;
}

.logo {
width: 100px;
height: 100px;
}

.link-button-nav {
    font-size: 14px;
    /* margin-left: 16px; */
    text-decoration: none;
    color: #96FF7D;
    width: calc(100% - 16px);
}


.button-login {
    font-size: 14px;
    text-decoration: none;
    color: black;
}
