.link-button-nav,
.button-submit,
.button-login {
    background-color: #28353c;
    border: 2px #00b9a3 groove;
    border-radius: 8px;
    /* border-style: ; */
    box-sizing: border-box;
    color: #C3FE96;
    cursor: pointer;
    display: inline-block;
    font-size: 85%vw;
    font-stretch: 85%vh;
    font-weight: 500;
    height: 40px;
    width: max-content;
    line-height: 20px;
    /* list-style: none; */
    margin-bottom: 0.2em;
    margin: .2em;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.link-button-nav:hover,
.link-button-nav:focus,
.button-login:hover,
.button-login:focus,
.button-submit:hover,
.button-submit:focus {
    background-color: #096C81;
    box-shadow: 2px 2px #C3FE96;
    text-shadow: 2px 2px 4px rgb(89, 64, 93);
}

