
.button-submit,
.button-login,
.button-add,
.button-view,
.button-edit {
    background-color: #28353c;
    border: 2px #00b9a3 groove;
    border-radius: 10px;
    box-sizing: border-box;
    color: #96FF7D;
    cursor: pointer;
    display: inline-block;
    font-size: normal;
    width: max-content;
    line-height: 20px;
    margin-bottom: 0.2em;
    margin: .2em;
    outline: none;
    padding: 5px 8px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.button-login:hover,
.button-login:focus,
.button-submit:hover,
.button-submit:focus
.button-add:hover,
.button-add:focus {
    background-color: #096C81;
    box-shadow: 2px 2px #96FF7D;
    text-shadow: 2px 2px 4px rgb(89, 64, 93);
}

.button-edit {
    background-image: ;
}

.button-view {
    background-image: ;
}

.button-register {
    background-color: #28353c;
    border: 2px #00b9a3 groove;
    border-radius: 10px;
    box-shadow: 2px 2px #96FF7D;
    text-shadow: 2px 2px 4px rgb(89, 64, 93);
    /* border-style: ; */
    box-sizing: border-box;
    color: #96FF7D;
    cursor: pointer;
    display: inline-block;
    font-size: 75%vw;
    font-stretch: 85%vh;
    font-weight: 400;
    height: 35px;
    width: max-content;
    line-height: 10px;
    /* list-style: none; */
    margin-bottom: 0.2em;
    margin: .2em;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.link-inline {
    color: #00b9a3;
}

.link-register {
    color: #00b9a3;
}

