* {
  box-sizing: border-box;
}

body {
  margin: .45em;
  background-color: #28353c;
  color: #96FF7D;
}


.App {
  text-align: left;
  padding-left: .5em;
}


.App-header {
  background-color: #282c34;
  /* min-height: vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

