* {
  box-sizing: border-box;
}

body {
  margin: .45em;
  background-color: #28353c;
  color: #C3FE96;
}


.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  /* min-height: vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.question-box {
  border: 1px black double;
}