* {
  box-sizing: border-box;
}

body {
  margin: .45em;
  background-color: #28353c;
  color: #96FF7D;
}


.App {
  text-align: left;
  padding-left: .5em;
  width: 95%;
}


.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigation {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

}